.carrito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2em;
    background-color: #4E515C;
    color: whitesmoke;
}

.botonesCarrito{
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-self: center;
}

.botonCarrito{
    margin: 1.5em 2em;
}