.tarjeta{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    text-align: center;
    margin: 0.5em;
    border-radius: 10px;
    border: 4px solid #C8F560;
    background-color: #4E515C;
}
.imagen-tarjeta{
    background-color: white;
    margin: 1em;
    padding: 0.5em;
    border-radius: 10px;
    height: 50%;
}
.contenido{
    height: 40%;
}

.title{
    display: block;
    font-size: 1rem;
    color: whitesmoke;
}
.subtitle{
    display: block;
    font-size: 0.8rem;
    color: whitesmoke;
}




.boton {
    display: block;
    height: 30%;
    width: 9rem;
    background-color: #21251F;
    color: whitesmoke;
    padding: 0.5em;
    margin: 0.5em;
    border: solid 2px #C8F560;
    border-radius: 5px;
    cursor: pointer;
    font-family: bebasneue;
    font-size: 1rem;
}